{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "no-shadow": "off",
    "quote-props": "off",
    "object-curly-newline": ["error", {
        "ExportDeclaration": { "multiline": true, "minProperties": 6 }
    }]
  }
}
