@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.contentWrap {
  margin-left: 15rem;
  width: calc(100% - 15rem);
  padding: 7rem 2rem 5rem;
  @include till-md-screen {
    margin-left: 0;
    width: 100%;
  }
}

